
html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    
}

.body{
    background-color: black;
}
#animehub{
    border-radius: 40px;
    height: 40px;
    width: 100px;
}

.navbar{
    background-color: rgb(96, 93, 93);
}

.DN{
    position: relative;
    left: 350px;
}
.title-AH{
    
    width: 1200px;
    margin: 0 auto;
}

.title-AH h1{
    font-size: 100px;
    display: inline;
    font-family: cursive;
    
}
.AH-large{
    color: rgb(194, 103, 6);

}
.AH-large2{
    color: rgb(255, 255, 255);
}

.display-anime{
    flex-direction: row;
}

.display-anime1{
    display: flex;
    justify-content: center;
}

.card{
    margin: 15px;
}
.card-body p{
    font-size: 12px;
}

.display-anime2{
    display: flex;
    justify-content: center;
}

.display-anime3{
    display: flex;
    justify-content: center;
}


.pagination a{
    background-color: rgb(107, 105, 105);
    color: white;

}

.blank-space{
    height: 150px;
    
}

.footer-container{
    padding: 10px;
    overflow: hidden;
    
}
.title-AH-footer{
    width: 600px;
    margin: 0 auto;
}

.title-AH-footer h1{
    font-size: 60px;
    display: inline;
    position: relative;
    left: 50px;
    font-family: cursive;
    
}


.social-footer ul{
    display: flex;
    
}

.social-footer ul li{
    list-style: none;
    padding-right: 10px;
    
}

.social-icon{
    height: 25px;
    width: 25px;
    padding: 2px;
}

.copyright{
    position: relative;
    left: 550px;
}



.this-page{
    position: relative;
    left: 320px;
}
